[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.config/tmux/plugins/tmux-continuum"]
	path = tmux/.config/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux/.config/tmux/plugins/tmux-mode-indicator"]
	path = tmux/.config/tmux/plugins/tmux-mode-indicator
	url = https://github.com/MunifTanjim/tmux-mode-indicator
[submodule "tmux/.config/tmux/plugins/tmux-online-status"]
	path = tmux/.config/tmux/plugins/tmux-online-status
	url = https://github.com/tmux-plugins/tmux-online-status
[submodule "tmux/.config/tmux/plugins/tmux-resurrect"]
	path = tmux/.config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/.config/tmux/plugins/tmux-sensible"]
	path = tmux/.config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/oathlesss/nvim
